<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
                <h2>Coins Currenty listed</h2>
      <div class='row'>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="assets/coins/csm.png" width="40"><b>  Consortium</b></h3>
		Ticker: CSM </br>
		Algorithm: Quark/PoS/MN</br>
		Deposit Confirmations: 20  </br>
		<a target="_blank" href="https://www.primestyleltd.com/consortium">Website</a><br>
		<a target="_blank" href="https://discord.gg/HsZRVpU">Discord</a><br>
		<a target="_blank" href="http://csm.blockexplorer.monster/">Explorer</a><br>
		<a target="_blank" href="https://github.com/Consortium3000/Consortium">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="assets/coins/digibyte.png" width="40"><b> Digibyte</b></h3>
		Ticker: DGB</br>
		Algorithm: Multi</br>
		Deposit Confirmations: 20</br>
		<a target="_blank" href="https://digibyte.org/">Website</a><br>
		<a target="_blank" href="https://reddit.com/r/Digibyte">Reddit</a><br>
		<a target="_blank" href="https://digiexplorer.info/">Explorer</a><br>
		<a target="_blank" href="https://github.com/digibyte-core">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>

<!-- Coin row template, copy only
	<div class='row'>
        <div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: POS  </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Twitter</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
      </div><br>
-->

<!--
<div class='row'>
        <div class="col-md-4">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Twitter</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-4">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-4">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
      </div><br>


-->



 </div><br><br><br><br>
    </div> <!-- /container -->

    <%- include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
