<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


    <div class="container">
      <div class='row'>
        <div class="col-sm-12">
            <div class="card">
              <div class="text-center">
               <h2>FreakExchange Fees</h2>
			   <hr>
                <h3>Trading Fee</h3>
                All trades have a 0.2% fee.<br >
                <hr>
                <h3>Deposit Fee</h3>
                All cryptocurrencies have a 0.0% fee.<br>
                <hr>
                <h3>Withdraw Fee</h3>
                The fee is appointed by the coin blockchain. To ensure the withdraw, we will freeze the minimum balance:<br ><br>
              <center>
		<div class="col-sm-10 table-responsive">
                            <table id="checkdata" class="table table-striped table-bordered table-responsive">
                                <thead class="bg bg-dark text-light text-center">
                                    <tr>
                                        <th></th>
                                        <th>Coin</th>
                                        <th> Fee Withdraw </th>
					<th> Min Deposit Confirmations </th>
					<th> Info and Links</th>
					<th> Status </th>
                                    </tr>
                                </thead>
                                <tbody id='id_fees' class="text-center bg-light">
                                </tbody>
				<tfoot class="bg bg-dark text-light text-center">
                                     <tr>
                                        <th></th>
                                        <th>Coin</th>
                                        <th> Fee Withdraw </th>
					<th> Min Deposit Confirmations </th>
					<th> Info and Links</th>
					<th> Status </th>
                                    </tr>
                                  </tfoot>
                            </table>
                  
               </div>
			    <center>
              </div>
            </div>
        </div>
      </div>

    </div> <!-- /container -->

    <%- include ../partials/footer %>
    <script src='/js/fees.js'></script>
  </body>
</html>
